
<header class="menu">
    <a routerLink="/chat"><img class="user" src="https://img.icons8.com/plasticine/100/000000/administrator-male.png"/></a> 
    <a routerLink="/perfil"><img class="isms" src="https://img.icons8.com/plumpy/24/000000/chat-message.png"/></a>
    <a href="#"><img  class="config" src="https://img.icons8.com/color/48/000000/settings--v1.png"/></a>    
    <button> </button>  
</header>
<section>
    <div class="TarjetaPerfil">
        <img class="TPerfil" src="https://img.icons8.com/plasticine/100/000000/administrator-male.png"/><a href="#"><img class="Editar" src="https://img.icons8.com/material-sharp/24/000000/edit--v1.png"/></a>    
        <h1>NAME: </h1>
        <input placeholder="ABDUL ALBAR" class="INombre" type="text"><a href="#"><img class="Editar" src="https://img.icons8.com/material-sharp/24/000000/edit--v1.png"/></a>
        <h1>DESCRIPCION: </h1>
        <textarea placeholder="&#10;ABOUT ME" class="IDescripcion" cols="30" rows="10"></textarea><a href="#"><img class="Editar" src="https://img.icons8.com/material-sharp/24/000000/edit--v1.png"/></a>
    </div>
</section>