*{
    margin: 0px;
}
.menu{
    width: 200px;
    height: 935px;
    background-color: #6127d6;
    float: left;
    
   
}

.contactos{
    width: 700px;
    height: 750px;
    float: left;
    border-radius: 30px;
    margin: 100px 40px 100px 250px;
    border: 1px solid gray;
    box-shadow: 0 0 15px gray;
    
}

.chat{
    width: 1100px;
    height: 750px;
    float: left;
    margin: 100px 40px 100px 0px
}

section{
    background-color: white;
}

.name{
    border: 1px solid gray;
    box-shadow: 0 0 15px gray;
    width: 1020px;
    height: 75px;
    border-radius: 30px;
    padding: 10px 40px;
}

.texto{
    width: 1100px;
    height: 520px;
    border-radius: 30px;
    margin-top: 30px;
    overflow-y: scroll;
}

.search{
    border: 1px solid gray;
    box-shadow: 0 0 15px gray;
    margin: 36px 124px 0px 124px;
    border-radius: 30px;
    width: 450px;
    height: 35px;
    padding: 5px;
}

input[type=text]{
    border: none;
}

.icon{   
    width: 15px;    
    margin-right: 24px;
    margin-left: 10px;
    margin-top: 10px;
}

.amigos{
    width: 420px;
    height: 70px;
    border: 1px solid gray;
    box-shadow: 0 0 15px gray;
    margin: 30px 124px;
    border-radius: 30px;
    padding: 10px 20px;
    }



.perfil{
    width: 70px;
    height: 70px;
    border-radius: 150px;
    float: left;
}

.Umensaje{
    margin: 0px 0px 0px 120px;
    color: gray;
    font-size: 20px;
}

.nombre{
    margin: 0px 0px 10px 120px;
    color: #6127d6;
    font-size: 20px;
}

.amigos:hover{
    box-shadow:0 0 15px #6127d6;
}

.nombreC{
    color: #6127d6;
    margin: 10px 0px 11px 90px;
}

.estado {
    margin-left: 95px;
    color: gray;
    text-transform: uppercase;
}

.user{
    width: 150px;    
    height: 150px;
    border-radius: 150px;
    margin: 105px 25px 10px;
}

.config{
    margin: 0 75px;
}

.isms{
    width: 45px;    
    height: 45px;
    margin: 0px 75px 430px;
}

button{
    background: none;     
    border: none;
}

.TarjetaPerfil{
    border: 1px solid gray;
    box-shadow: 0 0 15px gray;
    width: 580px;
    height: 700px;
    margin: 115px 0px 115px 860px;
    float: left;
    border-radius: 30px;
}

h1{
    color: #6127d6;
    font-size: 15px;
    margin: 20px 90px;
}

.TPerfil{
    margin: 23px 145px 0 180px;
    width: 180px;
    height: 180px;
}
    

.IDescripcion{
    box-shadow: 0 0 15px gray;
    border-radius: 30px;
    height: 225px;
    width: 344px;
    margin: 0px 80px;
    resize: none;
    border: none;
}

.INombre{
    box-shadow: 0 0 15px gray;
    border-radius: 30px;
    height: 35px;
    width: 344px;
    margin: 0px 80px;
}

.MDerecha{
    border: 1px solid gray;
    width: 330px;
    height: 20px;
    border-radius: 30px;
    margin: 50px 70px 0px 620px;
    box-shadow: 0 0 1px #6127d6;
    background-color: #6127d6;
    color: white;
    padding:15px 50px ;
}

.MIzquierda{
    border: 1px solid gray;
    width: 330px;
    height: 20px;
    border-radius: 30px;
    margin: 50px 70px;
    box-shadow: 0 0 15px gray;
    color: #6127d6;
    padding: 15px 50px;
    }

    .esms{
        border-radius: 30px;
        width: 900px;
        height: 30px;
        box-shadow: 0 0 15px gray;
        margin: 35px 0px 0px 97px;
    }


.content{
    width: 1100px;
    height: 625px;
    box-shadow: 0 0 15px gray;
    border-radius: 30px;
    border: 1px solid gray;    
    margin: 30px 0px;
    }

.Submit{
    width: 850px;
    border-radius: 30px;
        margin: 7px 26px;
}

.Submit:focus{
    outline: none;
}

.BSubmit{
    
    position: relative;
        
    top: -25px;
        
    left: 860px;
    font-size: 20px;
    }
.far fa-paper-plane{
    color: #6127d6;
    
}