<header class="menu">
    <a routerLink="/chat" ><img class="user" src="https://img.icons8.com/plasticine/100/000000/administrator-male.png"/></a> 
    <a routerLink="/perfil"><img class="isms" src="https://img.icons8.com/plumpy/24/000000/chat-message.png"/></a>
    <a href="#"><img  class="config" src="https://img.icons8.com/color/48/000000/settings--v1.png"/></a>    
    <button> </button>  
</header>
<section>
    <div class="contactos">
        <div class="search">
            <form action="POST">
                <img class="icon" src="https://img.icons8.com/external-dreamstale-lineal-dreamstale/32/000000/external-search-seo-dreamstale-lineal-dreamstale-7.png" /><input type="text" placeholder="Enter to search..." name="search">
            </form>
        </div>

        <div class="amigos">
            <img class="perfil" src="https://img.icons8.com/external-filled-outline-icons-maxicons/85/000000/external-beggar-economic-and-covid-19-filled-outline-icons-maxicons.png" alt="perfil">
            <h1 class="nombre">Simon Dice</h1>
            <p class="Umensaje">Ultimo mensaje</p>
        </div>
    </div>

    <div class="chat">
        <div class="name">
            <img class="perfil" src="https://img.icons8.com/external-filled-outline-icons-maxicons/85/000000/external-beggar-economic-and-covid-19-filled-outline-icons-maxicons.png" alt="perfil">
            <h1 class="nombreC">Simon Dice</h1>
            <p class="estado">cierren las puertas</p>
        </div>

        <div class="content">
            <div class="texto">
                <div class="MIzquierda">
                    <p>Hola como estás?</p>
                </div>

                <div class="MDerecha">
                    <p>Bien y tu?</p>
                </div>                   

            </div>

            <div class="esms">
                <input class="Submit" type="text">
                <button class="BSubmit"><a href="#"><i class="far fa-paper-plane"></i></a> </button>
            </div>
        </div>
    </div>
</section>
